/*Entire page edit*/
body {
    background-color: black;
    color: white;
}



/* Link edits*/
a:link {
    color: yellow;
}
a:hover {
    background-color: purple;
}
a:active {
    color:whitesmoke
}
a:visited {
    color: palegreen;
}